{% extends 'home.html' %}

{% block body %}

<div class="container-fluid">
  <div class="row">
  <div class="col">
    Realize seu Login
    {{ form_login.email_login.label }}
    {{ form_login.email_login }}
    {{ form_login.senha_login.label }}
    {{ form_login.senha_login }}
    {{ form_login.botao_submit_login }}
    {{ form_login.lembrar_dados.label }}
    {{ form_login.lembrar_dados }}
  </div>
  <div class="col">
    Realize seu cadastro
    {{ form_criar_conta.user_name.label }}
    {{ form_criar_conta.user_name }}
    {{ form_criar_conta.email_cadastro.label }}
    {{ form_criar_conta.email_cadastro }}
    {{ form_criar_conta.senha_cadastro.label }}
    {{ form_criar_conta.senha_cadastro }}
    {{ form_criar_conta.confirmar_senha.label }}
    {{ form_criar_conta.confirmar_senha }}
    {{ form_criar_conta.botao_submit_criar_conta }}

  </div>
  </div>
</div>

{% endblock %}
