{% extends 'base.html' %}

{% block body %}

<body>
  <div class="container mt-4">
    <h1 style="color: gray;">Comunidade</h1>
    <h3>Comentário da galera</h3>
    <hr>

    {% for post in posts %}
    <div class="row border mt-4 p-2 meupost">
      <div class="col col-3">
          <h4><strong>{{post.autor.user_name}}</strong></h4>
          <div class="{{image}} pe-2">
            <img src= "{{url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil))}}" class="rounded" width="180" >
          </div>
          <div>
            <h6><strong>Cursos</strong><br></h6>
              {% for curso in post.autor.cursos.split(';') %}
                <span class="badge rounded-pill text-bg-secondary d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2">{{ curso }}</span>
              {% endfor %}
          </div>

      </div>
      
        <div class="col col-6">
            <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id) }}">
              <h3>{{ post.titulo }}</h3></a>
              <p>{{post.corpo}}</p> 
             
        </div>
    </div>
    {% endfor %}
  </div>
</body>

{% endblock %}

fot